__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/
metadata/
checkpoints/*
runs/
splits/
*.pth
*.pt
*.nii
*.nii.gz
*.npy
*.npz
!checkpoints/
!checkpoints/README.md
!checkpoints/final_checkpoint_info_anonymous.json
!checkpoints/final_eval_anonymous.log
!checkpoints/final_macro_micro_locked_auc07116_anonymous.pth
